<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-8 col-lg-8 parte1">
                <h3>Portfolio Full Stack Argentina Programa</h3>
                   <p>Durante varios meses estuve trabajando en este proyecto de portfolio web full stack, para 
                    lo cual aprendí herramientas fundamentales como Angular, bootstrap, css, etc. 
                   </p>
            </div>
        </div>
    </div>
</div>

