<div class="row">
    <h1>Hard and Soft Skills </h1>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [showUnits]="false"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML 5'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress> 
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [showUnits]="false"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [radius]="80"
            [showUnits]="false"
            [title]="'Angular'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress> 
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [showUnits]="false"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [radius]="80"
            [showUnits]="false"
            [title]="'Git-GitHub'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress> 
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [showUnits]="false"
            [titleFontSize]="'0.8em'"
            [showSubtitle]="false"
            [radius]="80"
            [showUnits]="false"
            [title]="'Trabajo en equipo'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress> 
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [showUnits]="false"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [radius]="80"
            [showUnits]="false"
            [title]="'Java'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress> 
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [showUnits]="false"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [radius]="80"
            [showUnits]="false"
            [title]="'Bootstrap'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress> 
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [showUnits]="false"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [radius]="80"
            [showUnits]="false"
            [title]="'Inglés'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress> 
            
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [showUnits]="false"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [radius]="80"
            [showUnits]="false"
            [title]="'MySQL'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress> 

   </div>
   <div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [showUnits]="false"
        [titleFontSize]="'1.5em'"
        [showSubtitle]="false"
        [radius]="80"
        [showUnits]="false"
        [title]="'C++'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress> 