<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="fotito">        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">
            {{persona.nombre}} {{persona.apellido}}
        </h1>
        <p>
            Full Stack Developer Junior
        </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p> Me llamo Emanuel, soy de La Plata, siempre me gustó todo lo relacionado con 
                la tecnología, pero solo hace unos años empecé a capacitarme para aprender más. 
                Soy una persona pro activa, que siempre está buscando oportunidades para aprender 
                más y capacitarme, sobre todo en el área de tecnología.</p>
        </span>
    </div>
</div>