<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Argentina Programa logo.png" id="logo">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/emanuel-staffa-5bb3a5230/"><img src="../../../assets/Logo Linkedin.png" target="_blank"></a>
                <a href="https://www.facebook.com/ema.staffa/"><img src="../../../assets/Logo Face.png" target="_blank"></a>
                <a href="https://www.instagram.com/emanuel_staffa/"><img src="../../../assets/Logo Instagram.png" target="_blank"></a>
                <button type="button" class="btn btn-outline-dark" (click) = "login()"*ngIf="!islogged">Entrar</button>
                <button type="button" class="btn btn-outline-dark" (click) = "onLogOut()" *ngIf="islogged">Salir</button>
            </div>        
    </div>
</div>

